body { background: #34f459; margin: 0; font-family: sans-serif; }
.storefront-container { padding: 27px; display: flex; }
.block-validator-0 { color: #2553ad; font-size: 19px; margin-bottom: 5px; }
.block-order-1 { color: #74a957; font-size: 17px; margin-bottom: 5px; }
.block-email-2 { color: #6f0adb; font-size: 15px; margin-bottom: 5px; }
.block-shipping-3 { color: #e57ea6; font-size: 21px; margin-bottom: 5px; }
.block-filter-4 { color: #8ba750; font-size: 12px; margin-bottom: 5px; }